---
title: Trânsito ao Vivo - Câmeras de Trânsito ao Vivo
description: Acompanhe o trânsito ao vivo em São Paulo e Rio de Janeiro com câmeras em tempo real e atualizações de congestionamentos para planejar sua rota.
---
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <script async='async' crossorigin='anonymous' src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8613196241841104'></script>
    <meta charset='utf-8'/>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>
    <meta content='Bt3qjsTHUjDL-7Utz3oWDt1CSu24GS5mpfWLl6r6sX8' name='google-site-verification'/>

    <meta name="description" content="Acompanhe o trânsito ao vivo em São Paulo e Rio de Janeiro com câmeras em tempo real e atualizações de congestionamentos para planejar sua rota."/>
    <title>{{ page.title }}</title>
    <link rel="canonical" href="https://www.transitoaovivo.com{{ page.url }}" />
    
    <meta content='website' property='og:type'/>
    <meta content='https://live.staticflickr.com/65535/53887811414_9e8a540caa_o.jpg' property='og:image'/>
    <meta content='https://www.transitoaovivo.com{{ page.url }}' property='og:url'/>
    <meta content='{{ page.title }}' property='og:title'/>
    <meta content='{{ page.description }}' property='og:description'/>

    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{{ site.baseurl }}/assets/favicon.svg" />
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Trânsito" />
    <link rel="manifest" href="{{ site.baseurl }}/assets/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    
    <link href='https://fonts.googleapis.com' rel='preconnect'/>
    <link crossorigin='' href='https://fonts.gstatic.com' rel='preconnect'/>
    <link href='https://fonts.googleapis.com/css2?family=Poppins&display=swap' rel='stylesheet'/>
    <link crossorigin='anonymous' href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css' integrity='sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH' rel='stylesheet'/>
    <link rel='stylesheet' href='{{ site.baseurl }}/css/style.css'/>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>

</head>
<body>
<nav class='navbar navbar-expand-lg bg-white w-100 border-bottom border-1'>
	<div class='container-md'>
		<a class='navbar-brand' href='{{ site.baseurl }}/'>
			<svg class='mx-3' height="40px"  width="40px" viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'>
				<path fill="#373a40" d='M392.886,52.24c-4.422-2.734-9.945-2.981-14.594-0.656L330,75.731V65c0-8.284-6.716-15-15-15H85c-8.284,0-15,6.716-15,15v120c0,8.284,6.716,15,15,15h47.58c2.666,7.516,7.275,14.115,13.222,19.199L124.645,275H90v-30c0-8.284-6.716-15-15-15H15c-8.284,0-15,6.716-15,15v90c0,8.284,6.716,15,15,15h60c8.284,0,15-6.716,15-15v-30h45c6.233,0,11.816-3.854,14.026-9.683l24.776-65.348c0.399,0.011,0.796,0.030,1.198,0.030c19.555,0,36.227-12.541,42.42-30H315c8.284,0,15-6.716,15-15v-10.73l48.292,24.146c2.117,1.059,4.414,1.584,6.707,1.584c2.742,0,5.478-0.752,7.886-2.24c4.422-2.733,7.114-7.562,7.114-12.76V65C400,59.802,397.308,54.974,392.886,52.24z M100,80h200v30H100V80z'/>
			</svg>
				Trânsito ao Vivo</a>
			<button aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation' class='navbar-toggler ms-auto' data-bs-target='#navbarNavDropdown' data-bs-toggle='collapse' type='button'>
				<span class='navbar-toggler-icon'></span>
			</button>
		<div class='collapse navbar-collapse' id='navbarNavDropdown'>
			<ul class='navbar-nav mx-auto'>
				<li class='nav-item'>
					<a class='nav-link' href='{{ site.baseurl }}/'>Home</a>
				</li>
				<li class='nav-item dropdown'>
					<a class='nav-link dropdown-toggle' data-bs-toggle='dropdown' href='#' role='button'>Câmeras</a>
						<ul class='dropdown-menu'>
                          	<li><a class='dropdown-item' href='{{ site.baseurl }}/transito-rio-de-janeiro/'>Rio de Janeiro</a></li>
                          	<li><a class='dropdown-item' href='{{ site.baseurl }}/transito-sao-paulo/'>São Paulo - Rodovias</a></li>
                          	<li><a class='dropdown-item' href='{{ site.baseurl }}/transito-cetsp-1/'>São Paulo - CET</a></li>
                          	<li><a class='dropdown-item' href='https://rodovias.grupoccr.com.br/riosp/cameras-ao-vivo/' rel='nofollow' target='_blank'>
                            	<span class='align-middle me-1'>BR-116 - Via Dutra</span><svg fill='currentcolor' height='20px' viewBox='0 -960 960 960' width='20px' xmlns='http://www.w3.org/2000/svg'><path d='M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z'/></svg></a></li>
                            <li><a class='dropdown-item' href='{{ site.baseurl }}/transito-minas-gerais/'>Minas Gerais</a></li>
                          	<li><a class='dropdown-item' href='{{ site.baseurl }}/transito-rio-grande-sul/'>Rio Grande do Sul</a></li>
                          	<li><a class='dropdown-item' href='https://cameras.praiagrande.sp.gov.br/aovivo/' rel='nofollow' target='_blank'>
                            	<span class='align-middle me-1'>Praia Grande - SP</span><svg fill='currentcolor' height='20px' viewBox='0 -960 960 960' width='20px' xmlns='http://www.w3.org/2000/svg'><path d='M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z'/></svg></a></li>
                          	<li><a class='dropdown-item' href='https://transito.serttel.com.br/cttupe/' rel='nofollow' target='_blank'>
                            	<span class='align-middle me-1'>Recife - PE</span><svg fill='currentcolor' height='20px' viewBox='0 -960 960 960' width='20px' xmlns='http://www.w3.org/2000/svg'><path d='M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z'/></svg></a></li>
                          	<li><a class='dropdown-item' href='https://appnittrans.niteroi.rj.gov.br/' rel='nofollow' target='_blank'>
                            	<span class='align-middle me-1'>Niterói - RJ</span><svg fill='currentcolor' height='20px' viewBox='0 -960 960 960' width='20px' xmlns='http://www.w3.org/2000/svg'><path d='M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z'/></svg></a></li>
                          	<li><a class='dropdown-item' href='{{ site.baseurl }}/mais-cameras-ao-vivo/'>Mais Câmeras</a></li>
						</ul>
				</li>
                <li class='nav-item dropdown'>
					<a class='nav-link dropdown-toggle' data-bs-toggle='dropdown' href='#' role='button'>Mapas Waze</a>
						<ul class='dropdown-menu'>
							<li><a class='dropdown-item' href='{{ site.baseurl }}/waze-belo-horizonte/'>Belo Horizonte</a></li>
							<li><a class='dropdown-item' href='{{ site.baseurl }}/waze-fortaleza/'>Fortaleza</a></li>
							<li><a class='dropdown-item' href='{{ site.baseurl }}/waze-porto-alegre/'>Porto Alegre</a></li>
							<li><a class='dropdown-item' href='{{ site.baseurl }}/waze-recife/'>Recife</a></li>
							<li><a class='dropdown-item' href='{{ site.baseurl }}/waze-rio-de-janeiro/'>Rio de Janeiro</a></li>
							<li><a class='dropdown-item' href='{{ site.baseurl }}/waze-salvador/'>Salvador</a></li>
							<li><a class='dropdown-item' href='{{ site.baseurl }}/waze-sao-paulo/'>São Paulo</a></li>
						</ul>
				</li>
               	<li class='nav-item dropdown'>
					<a class='nav-link dropdown-toggle' data-bs-toggle='dropdown' href='#' role='button'>Notícias</a>
						<ul class='dropdown-menu'>
                	      	<li><a class='dropdown-item' href='{{ site.baseurl }}/twitter-bahia/'>Bahia</a></li>
            	          	<li><a class='dropdown-item' href='{{ site.baseurl }}/twitter-minas-gerais/'>Minas Gerais</a></li>
            	          	<li><a class='dropdown-item' href='{{ site.baseurl }}/twitter-rio-de-janeiro/'>Rio de Janeiro</a></li>
            	            <li><a class='dropdown-item' href='{{ site.baseurl }}/twitter-rio-grande-do-sul/'>Rio Grande do Sul</a></li>
             	         	<li><a class='dropdown-item' href='{{ site.baseurl }}/twitter-sao-paulo/'>São Paulo</a></li>
						</ul>
				</li>
             	<li class='nav-item'>
					<a class='nav-link' href='{{ site.baseurl }}/previsao-do-tempo/'>Tempo</a>
				</li>
              	<li class='nav-item dropdown'>
					<a class='nav-link dropdown-toggle' data-bs-toggle='dropdown' href='#' role='button'>Links Úteis</a>
						<ul class='dropdown-menu'>
            	          	<li><a class='dropdown-item' href='https://sp156.prefeitura.sp.gov.br/portal/servicos/informacao?servico=3314' rel='nofollow' target='_blank'>
            	            	<span class='align-middle me-1'>Cartão DeFis - SP</span><svg fill='currentcolor' height='20px' viewBox='0 -960 960 960' width='20px' xmlns='http://www.w3.org/2000/svg'><path d='M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z'/></svg></a></li>
            	          	<li><a class='dropdown-item' href='https://www.planalto.gov.br/ccivil_03/leis/l9503compilado.htm' rel='nofollow' target='_blank'>
            	            	<span class='align-middle me-1'>Código de Trânsito Brasileiro</span><svg fill='currentcolor' height='20px' viewBox='0 -960 960 960' width='20px' xmlns='http://www.w3.org/2000/svg'><path d='M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z'/></svg></a></li>
            	          	<li><a class='dropdown-item' href='https://www.gov.br/infraestrutura/pt-br/assuntos/transito/conteudo-Senatran/novas-regras-do-ctb' rel='nofollow' target='_blank'>
            	            	<span class='align-middle me-1'>Novas Regras do CTB</span><svg fill='currentcolor' height='20px' viewBox='0 -960 960 960' width='20px' xmlns='http://www.w3.org/2000/svg'><path d='M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z'/></svg></a></li>
            	          	<li><a class='dropdown-item' href='https://portalservicos.senatran.serpro.gov.br/#/home' rel='nofollow' target='_blank'>
            	            	<span class='align-middle me-1'>Serviços - Senatran</span><svg fill='currentcolor' height='20px' viewBox='0 -960 960 960' width='20px' xmlns='http://www.w3.org/2000/svg'><path d='M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z'/></svg></a></li>
            	            <li><a class='dropdown-item' href='https://www.gov.br/infraestrutura/pt-br/assuntos/transito/arquivos-senatran/educacao/publicacoes/manual_vol_i_2.pdf' rel='nofollow' target='_blank'>
            	            	<span class='align-middle me-1'>Placas de Trânsito</span><svg fill='currentcolor' height='20px' viewBox='0 -960 960 960' width='20px' xmlns='http://www.w3.org/2000/svg'><path d='M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z'/></svg></a></li>
            	          	<li><a class='dropdown-item' href='https://www.detran.sp.gov.br/detransp/pb/servico/habilitacao/apresentar_defesa_recurso_suspensao_cassacao_cnh?id=carta_de_servico_apresentar_defesa_recurso_suspensao_cassacao_cnh' rel='nofollow' target='_blank'>
            	            	<span class='align-middle me-1'>Suspensão CNH - SP</span><svg fill='currentcolor' height='20px' viewBox='0 -960 960 960' width='20px' xmlns='http://www.w3.org/2000/svg'><path d='M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z'/></svg></a></li>
						</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
<main>
        {{ content }}
</main>
<!-- start most visited pages -->
<section class='bg-light px-4 py-5'>
    <div class='container'>
        <div class='row text-center'>
            <div class='col-md-8 col-sm-12 mx-auto pt-4'>
                <h3 class='fs-2'>Mais acessadas</h3>
            </div>
        </div>
		<div class='g-4 row row-cols-lg-3 row-cols-md-3 row-cols-2 text-center pt-4'>
			<!-- content 1/12 -->
			<div class='col text-center p-3'>
				<a aria-label='Ver câmeras' class='link-interno' href='{{ site.baseurl }}/transito-cetsp-1/'>
					<svg fill='#373a40' height='40' viewBox='0 -960 960 960' width='40' xmlns='http://www.w3.org/2000/svg'><path d='M576-189q-22 26-54.5 29.5T463-178L294-319q-26-21-45-48t-31-58q-11 12-26 18.5t-32 6.5H80v-320h80q29 0 51.5 18t27.5 47q38-58 98-91.5T466-780q45 0 85.5 16t74.5 45l170 141q26 21 28.5 53.5T806-466L576-189ZM260-518q0 45 19 84t53 68l185 154 255-307-184-154q-26.76-22.93-59.1-34.96Q496.57-720 462-720q-84 0-142.45 58.68Q261.1-602.64 260-518Zm256 52Z'></path></svg>
					<p class='fs-5 pt-3 mb-0'>Câmeras</p>
					<p class='mb-3'>CET - SP</p>
				</a>
			</div>
			<!-- content 2/12 -->
			<div class='col text-center p-3'>
				<a aria-label='Ver câmeras' class='link-interno' href='{{ site.baseurl }}/transito-cetsp-2/'>
					<svg fill='#373a40' height='40' viewBox='0 -960 960 960' width='40' xmlns='http://www.w3.org/2000/svg'><path d='M630-587 520-697q-34-34-78-53.5T350-770q-67 0-122.5 34.5T140-646q31-55 87-89.5T350-770q48 0 92 19.5t78 53.5l110 110ZM0-260v-700h70.09q28.91 0 49.41 20.56Q140-918.88 140-890v87q29-57 84-92t123-35h223q24.75 0 42.38 17.62Q630-894.75 630-870v283l43 43q17 16.93 17 41.97Q690-477 673-460L418-205q-16.93 17-41.97 17Q351-188 334-205L181-357q-12-12-22.5-25.5T140-411v81q0 28.87-20.56 49.44Q98.88-260 70-260H0Zm347-610q-73 0-123.5 52.5T173-691q33-36 78.5-57.5T350-770q48 0 92 19.5t78 53.5l50 50v-223H347ZM170-527.24q0 36.24 14 68.74 14 32.5 40 58.5l152 152 254-254-154-154q-26-26-58.5-40T350-710q-76 0-128 54t-52 128.76ZM800-330H690v-60h110v60ZM695-143l-77-77 42-42 77 77-42 42ZM490-80v-110h60v110h-60Zm-90-399Z'></path></svg>
					<p class='fs-5 pt-3 mb-0'>Câmeras</p>
					<p class='mb-3'>CET 2 - SP</p>
				</a>
			</div>
			<!-- content 3/12 -->
			<div class='col text-center p-3 '>
				<a aria-label='Ver câmeras' class='link-interno' href='{{ site.baseurl }}/transito-rio-de-janeiro/'>
					<svg fill='#373a40' height='40' viewBox='0 -960 960 960' width='40' xmlns='http://www.w3.org/2000/svg'><path d='M479.67-264.67q73.33 0 123.5-50.16 50.16-50.17 50.16-123.5 0-73.34-50.16-123.17-50.17-49.83-123.5-49.83-73.34 0-123.17 49.83t-49.83 123.17q0 73.33 49.83 123.5 49.83 50.16 123.17 50.16Zm0-66.66q-45.67 0-76-30.67-30.34-30.67-30.34-76.33 0-45.67 30.34-76 30.33-30.34 76-30.34 45.66 0 76.33 30.34 30.67 30.33 30.67 76 0 45.66-30.67 76.33t-76.33 30.67ZM146.67-120q-27 0-46.84-19.83Q80-159.67 80-186.67v-502q0-26.33 19.83-46.5 19.84-20.16 46.84-20.16h140L360-840h240l73.33 84.67h140q26.34 0 46.5 20.16Q880-715 880-688.67v502q0 27-20.17 46.84Q839.67-120 813.33-120H146.67Zm0-66.67h666.66v-502H642.67l-73-84.66H390.33l-73 84.66H146.67v502ZM480-438Z'></path></svg>
					<p class='fs-5 pt-3 mb-0'>Câmeras</p>
					<p class='mb-3'>Rio de Janeiro</p>
				</a>
			</div>
			<!-- content 4/12 -->
			<div class='col text-center p-3'>
				<a aria-label='Ver câmeras' class='link-interno' href='{{ site.baseurl }}/transito-cetsp-3/'>
					<svg fill='#373a40' height='40' viewBox='0 -960 960 960' width='40' xmlns='http://www.w3.org/2000/svg'><path d='M146.67-160q-27 0-46.84-19.83Q80-199.67 80-226.67v-506.66q0-27 19.83-46.84Q119.67-800 146.67-800h506.66q27 0 46.84 19.83Q720-760.33 720-733.33V-530l160-160v420L720-430v203.33q0 27-19.83 46.84Q680.33-160 653.33-160H146.67Zm0-66.67h506.66v-506.66H146.67v506.66Zm0 0v-506.66 506.66Z'></path></svg>
					<p class='fs-5 pt-3 mb-0'>Câmeras</p>
					<p class='mb-3'>CET 3 - SP</p>
				</a>
			</div>
			<!-- content 5/12 -->
			<div class='col text-center p-3'>
				<a aria-label='Ver Waze' class='link-interno' href='{{ site.baseurl }}/waze-sao-paulo/'>
					<svg fill='#373a40' height='40' viewBox='0 -960 960 960' width='40' xmlns='http://www.w3.org/2000/svg'><path d='M480.06-486.67q30.27 0 51.77-21.56 21.5-21.55 21.5-51.83 0-30.27-21.56-51.77-21.55-21.5-51.83-21.5-30.27 0-51.77 21.56-21.5 21.55-21.5 51.83 0 30.27 21.56 51.77 21.55 21.5 51.83 21.5ZM480-168q129.33-118 191.33-214.17 62-96.16 62-169.83 0-114.86-73.36-188.1-73.36-73.23-179.97-73.23T300.03-740.1q-73.36 73.24-73.36 188.1 0 73.67 63 169.83Q352.67-286 480-168Zm0 88Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552q0 100-79.5 217.5T480-80Zm0-480Z'></path></svg>
					<p class='fs-5 pt-3 mb-0'>Waze</p>
					<p class='mb-3'>São Paulo</p>
				</a>
			</div>
			<!-- content 6/12 -->
			<div class='col text-center p-3'>
				<a aria-label='Ver câmeras' class='link-interno' href='{{ site.baseurl }}/transito-sao-paulo/'>
					<svg fill='#373a40' height='40' viewBox='0 -960 960 960' width='40' xmlns='http://www.w3.org/2000/svg'><path d='M787.33-60 736-110.67l122.67-122.66-122-122L787.33-406l173.34 172.67L787.33-60Zm-460.66-60v-80h-180q-27 0-46.84-19.83Q80-239.67 80-266.67v-506.66q0-27 19.83-46.84Q119.67-840 146.67-840h666.66q27 0 46.84 19.83Q880-800.33 880-773.33V-482h-66.67v-291.33H146.67v506.66H684V-200h-64v80H326.67Zm-180-146.67v-506.66 506.66Z'></path></svg>
					<p class='fs-5 pt-3 mb-0'>Câmeras</p>
					<p class='mb-3'>SP - Rodovias</p>
				</a>
			</div>
			<!-- content 7/12 -->
			<div class='col text-center p-3'>
				<a aria-label='Ver câmeras' class='link-interno' href='{{ site.baseurl }}/transito-minas-gerais/'>
					<svg fill='#373a40' height='40' viewBox='0 -960 960 960' width='40' xmlns='http://www.w3.org/2000/svg'><path d='M382-306.67 653.33-480 382-653.33v346.66ZM480-80q-82.33 0-155.33-31.5-73-31.5-127.34-85.83Q143-251.67 111.5-324.67T80-480q0-83 31.5-156t85.83-127q54.34-54 127.34-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 82.33-31.5 155.33-31.5 73-85.5 127.34Q709-143 636-111.5T480-80Zm0-66.67q139.33 0 236.33-97.33t97-236q0-139.33-97-236.33t-236.33-97q-138.67 0-236 97-97.33 97-97.33 236.33 0 138.67 97.33 236 97.33 97.33 236 97.33ZM480-480Z'></path></svg>
					<p class='fs-5 pt-3 mb-0'>Câmeras</p>
					<p class='mb-3'>Minas Gerais</p>
				</a>
			</div>
			<!-- content 8/12 -->
			<div class='col text-center p-3'>
				<a aria-label='Ver Waze' class='link-interno' href='{{ site.baseurl }}/waze-recife/'>
					<svg fill='#373a40' height='40' viewBox='0 -960 960 960' width='40' xmlns='http://www.w3.org/2000/svg'><path d='m523.33-120-114-289.33-289.33-114v-47.34L840-840 570.67-120h-47.34ZM544-245.33 726-726 246-544l214.67 83.33L544-245.33Zm-83.33-215.34Z'></path></svg>
					<p class='fs-5 pt-3 mb-0'>Waze</p>
					<p class='mb-3'>Recife</p>
				</a>
			</div>
			<!-- content 9/12 -->
			<div class='col text-center p-3'>
				<a aria-label='Ver câmeras' class='link-interno' href='{{ site.baseurl }}/mais-cameras-ao-vivo/'>
					<svg fill='#373a40' height='40' viewBox='0 -960 960 960' width='40' xmlns='http://www.w3.org/2000/svg'><path d='M440-438ZM106.67-120q-27 0-46.84-19.83Q40-159.67 40-186.67v-502q0-26.33 19.83-46.5 19.84-20.16 46.84-20.16h140L320-840h262.67v66.67H350.33l-73 84.66H106.67v502h666.66v-396H840v396q0 27-20.17 46.84Q799.67-120 773.33-120H106.67Zm666.66-569.33v-84h-84V-840h84v-84.67H840V-840h84.67v66.67H840v84h-66.67ZM439.67-264.67q73.33 0 123.5-50.16 50.16-50.17 50.16-123.5 0-73.34-50.16-123.17-50.17-49.83-123.5-49.83-73.34 0-123.17 49.83t-49.83 123.17q0 73.33 49.83 123.5 49.83 50.16 123.17 50.16Zm0-66.66q-45.67 0-76-30.67-30.34-30.67-30.34-76.33 0-45.67 30.34-76 30.33-30.34 76-30.34 45.66 0 76.33 30.34 30.67 30.33 30.67 76 0 45.66-30.67 76.33t-76.33 30.67Z'></path></svg>
					<p class='fs-5 pt-3 mb-0'>Mais Câmeras</p>
					<p class='mb-3'>Por Cidades</p>
				</a>
			</div>
			<!-- content 10/12 -->
			<div class='col text-center p-3'>
				<a aria-label='Ver Waze' class='link-interno' href='{{ site.baseurl }}/waze-transito-em-tempo-real/'>
					<svg fill='#373a40' height='40' viewBox='0 -960 960 960' width='40' xmlns='http://www.w3.org/2000/svg'><path d='M480-80q-106 0-173-31.83-67-31.84-67-81.5 0-25.34 20.17-47.84 20.16-22.5 55.5-37.5l51 47.67q-16.34 4.67-32.5 15.33Q318-205 306.67-193.33q15.66 18.66 67 32.66 51.33 14 106.33 14t106.83-14q51.84-14 67.5-32.66-11.66-12.67-29.33-23-17.67-10.34-34.33-15l51.33-48q37.33 15.33 57.67 37.83Q720-219 720-193.33q0 49.66-67 81.5Q586-80 480-80Zm1-203.33q105.67-78.34 159-158.17 53.33-79.83 53.33-152.5 0-108.67-69-164T480-813.33q-74.67 0-144 55.33t-69.33 164q0 71 53 147.83 53 76.84 161.33 162.84ZM480-200Q339.67-304 269.83-402 200-500 200-594q0-71 25.5-124.5t65.83-89.5q40.34-36 90-54Q431-880 480-880t99 18q50 18 90 54t65.5 89.5Q760-665 760-594q0 94-69.5 192T480-200Zm0-320q33 0 56.5-23.5T560-600q0-33-23.5-56.5T480-680q-33 0-56.5 23.5T400-600q0 33 23.5 56.5T480-520Zm0-80Z'></path></svg>
					<p class='fs-5 pt-3 mb-0'>Waze</p>
					<p class='mb-3'>Por cidades</p>
				</a>
			</div>
			<!-- content 11/12 -->
			<div class='col text-center p-3'>
				<a aria-label='Ver Waze' class='link-interno' href='{{ site.baseurl }}/waze-rio-de-janeiro/'>
					<svg fill='#373a40' height='40' viewBox='0 -960 960 960' width='40' xmlns='http://www.w3.org/2000/svg'><path d='M320.33-288 480-360.33 639.67-288l8.33-8.33-168-406.34-168 406.34 8.33 8.33ZM480-80q-82.33 0-155.33-31.5-73-31.5-127.34-85.83Q143-251.67 111.5-324.67T80-480q0-83 31.5-156t85.83-127q54.34-54 127.34-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 82.33-31.5 155.33-31.5 73-85.5 127.34Q709-143 636-111.5T480-80Zm0-66.67q139.33 0 236.33-97.33t97-236q0-139.33-97-236.33t-236.33-97q-138.67 0-236 97-97.33 97-97.33 236.33 0 138.67 97.33 236 97.33 97.33 236 97.33ZM480-480Z'></path></svg>
					<p class='fs-5 pt-3 mb-0'>Waze</p>
					<p class='mb-3'>Rio de Janeiro</p>
				</a>
			</div>
			<!-- content 12/12 -->
			<div class='col text-center p-3'>
				<a aria-label='Ver satélite' class='link-interno' href='{{ site.baseurl }}/previsao-do-tempo/'>
					<svg fill='#373a40' height='40' viewBox='0 -960 960 960' width='40' xmlns='http://www.w3.org/2000/svg'><path d='m300-40 36-100h-76l50-140h100l-43 100h83L340-40h-40Zm270-40 28-80h-78l43-120h100l-35 80h82L610-80h-40ZM290-340q-86.86 0-148.43-61.52Q80-463.04 80-549.83 80-629 136.5-691 193-753 277-759q32-56 84.5-88.5T480.42-880q90.58 0 152.08 57.5Q694-765 708-680q79 4 125.5 53.5T880-510.38Q880-440 830.42-390 780.83-340 710-340H290Zm0-60h420q46.2 0 78.1-32.5 31.9-32.5 31.9-78T788.1-588q-31.9-32-78.1-32h-60v-30q0-71-49.5-120.5T480.21-820q-51.48 0-93.84 27.5Q344-765 324-718l-8 18h-28q-62 2-105 45.39-43 43.4-43 104.47Q140-488 183.93-444T290-400Zm190-210Z'></path></svg>
					<p class='fs-5 pt-3 mb-0'>Tempo</p>
					<p class='mb-3'>Previsão do Tempo</p>
				</a>
			</div>
		</div>
		<!-- end grid -->
	</div>
</section>
<!-- end most visited pages -->
<!-- footer -->
<section class='my-footer'>
	<div class='container'>
		<footer class='py-5' id='my-footer'>
			<ul class='fs-sm nav justify-content-center'>
				<li class='nav-item'><a class='text-white fs-6 link-navbar nav-link px-2' href='{{ site.baseurl }}/'>Home</a></li>
				<li class='nav-item'><a class='text-white fs-6 link-navbar nav-link px-2' href="{{ site.baseurl }}/politicas/">Políticas</a></li>
				<li class='nav-item'><a class='text-white fs-6 link-navbar nav-link px-2' href='{{ site.baseurl }}/creditos/'>Créditos</a></li>
				<li class='nav-item'><a class='text-white fs-6 link-navbar nav-link px-2' href='mailto:transitoaovivo.contato@gmail.com'>Contato</a></li>
			</ul>
			<ul class='fs-sm nav justify-content-center'>
				<li class='pt-3 text-white fs-6'>&#169; Trânsito ao Vivo</li>
			</ul>
		</footer>
	</div>
</section>
<!-- button back to top -->
<a aria-label='Voltar ao topo' class='top btn btn-floating rounded-circle shadow d-flex justify-content-center align-items-center' href='#' id='btn-back-to-top' title='Voltar ao topo'>
	<svg height='24' viewBox='0 -960 960 960' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M440-160v-487L216-423l-56-57 320-320 320 320-56 57-224-224v487h-80Z'></path></svg>
</a>
<!-- scripts -->
<script src='{{ site.baseurl }}/js/main.js' defer></script>
<script crossorigin='anonymous' defer='defer' integrity='sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r' src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js'></script>
<script crossorigin='anonymous' defer='defer' integrity='sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy' src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js'></script>
</body>
</html>